extends layout

block content
  h1= title
  p Tónleikaviðburðir á Íslandi
  section.All-the-recipes-section
    div.Recipes
      for item in concerts
        div.recipesLatest
          div.recipesIMG
            img(src=''+item.imageSource, alt='Events Picture')
          div.container
            p.date #{item.eventDateName}
            div.resName-seeMore
              p #{item.dateOfShow.substring(0,10)}
              p #{item.dateOfShow.substring(11, 16)}

  br
