extends layout

block content
  h1= title
  p Tónleikaviðburðir á Íslandi
  div
    table
      thead
        tr
          th Viðburður
          th Staðsetning
      tbody
        for item in concerts
          tr
            td #{item.eventDateName}
            td #{item.eventHallName}
  br
  a(href='../../') Til baka
