body {
  margin: 0;
  padding: 0;
  background-size: 100% 100%;
  background-color: #DCD0C0;

}

.haus {
    background-color: #F4F4F4;
    text-align: center;
    margin-bottom: 20%;
    font-family: 'Poppins-Regular', sans-serif;
    font-weight: bold;
    font-size: 18px;
    padding: 2% 2%;

}

section {
  margin-bottom: 5%;
}

header {
  display: block;
  flex-wrap: wrap;
  justify-content: space-between;
  top: 0;
  left: 0;
  right: 0;
  height: 15vh;
  align-items: center;
}

/*Stærðir á textum og fyrirsögnum*/

h1 {
  font-family: 'PlayfairDisplay-Bold', sans-serif;
  font-size: 60px;
  color: #000;
  margin: 0;
  padding: 0;
}

h2 {
  font-family: 'PlayfairDisplay', cursive;
  font-size: 40px;
  font-weight: bold;
  font-style: normal;
  color: #000000;
}

h3 {
  font-family: 'poppins-Medium', sans-serif;
  font-size: 16px;
  color: #e3cdb1;
}

a {
  text-decoration: none;
  color: #B4AFAF;
}

/*main*/

.flexingItems {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 2.5%;

}

.main-section {
  padding: 10% 10%;
  padding-bottom: 0%;
}

.concertname {
  width: 400px;
  height: 15px;
  margin-left: 2%;
  font-size: 17px;
  font-weight: bold;
  color: #000000;
}

.Concerts {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 24%;
  min-width: 290px;
  margin-bottom: 2.5%;
  background-color: #F4F4F4;
}

.concertIMG {
  width: 100%;
}

.dateandtime {
  font-family: 'Poppins-light', sans-serif;
  display: flex;
  justify-content: space-between;
  margin-left: 2%;
  font-size: 14px;
}

.locationAPI {
  margin-right: 2%;
  cursor: pointer;
}

/*Footer-inn*/

.Footer-section {
  background-color: #F4F4F4;
  text-align: center;
  margin-bottom: -6%;
  font-family: 'Poppins-Regular', sans-serif;
  font-weight: bold;
  font-size: 18px;
  padding: 2% 2%;
}

.twitter, .facebook {
  margin-right: 1%;
  cursor: pointer;
}

.ISvenuetext {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  color: #9b9b9b;
  letter-spacing: -0.1px;
  cursor: pointer;
}
